<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zpreston.my12306">

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity"></activity>
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.GuideActivity"></activity>
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.mine.MyContactActivity" />
        <activity android:name=".activity.mine.MyAccountActivity" />
        <activity android:name=".activity.mine.MyPasswordActivity" />
        <activity android:name=".activity.mine.ContactShowActivity" />
        <activity android:name=".activity.mine.ContactAddActivity" />
        <activity
            android:name=".activity.ticket.Ticket1Activity"
            android:label="车票预订1/5" />
        <activity
            android:name=".activity.ticket.Ticket2Activity"
            android:label="车票预订2/5" />
        <activity
            android:name=".activity.ticket.Ticket3Activity"
            android:label="车票预订3/5" />
        <activity
            android:name=".activity.ticket.Ticket3_AddActivity"
            android:label="添加联系人" />
        <activity
            android:name=".activity.ticket.Ticket4Activity"
            android:label="车票预订4/5" />
        <activity
            android:name=".activity.ticket.Ticket5Activity"
            android:label="车票预订5/5" />
        <activity
            android:name=".activity.order.OrderActivity"
            android:label="订单管理" />
        <activity
            android:name=".activity.order.AllOrderActivity"
            android:label="订单管理" />
        <activity android:name=".activity.order.QRCodeActivity"
            android:label="订单管理"/>
        <activity android:name=".activity.ticket.QueryCity"/>
    </application>

</manifest>